.main-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)), url('../assets/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#location-input {
    outline: none;
    border: none;
    background-color: white;
}
#location-input:focus {
    border: none;
    outline: none;
}
.city, .temperature, .weather, .description {
    color: white;
    font-weight: 600;
    text-shadow: 7px -5px rgba(83, 83, 83, 0.568);
}
.city {
    font-size: 3rem;
}
.description {
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: capitalize;
}